/* Font */
@font-face {
  font-family: "Helvetica";
  src: url("Helvetica.ttf") format("truetype");
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: #442807;
  box-shadow: 0px 10px 10px rgb(68, 40, 7);
  height: 150px;
}

#icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Text */
h1 {
  font-family: Helvetica;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  border: 0px;
  margin-top: 0px;
  color: #ffd699;
}

body {
  background-color: #ffd699;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

p {
  margin-top: 20px;
  text-align: center;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 18px;
  color: #ffd699;
}

.bodytxt {
  text-align: left;
  color: #ffd699;
  margin-left: 50%;
  transform: translate(-90%);
}


/* Background Box */
.box {
  background: #5c3e2e;
  width: 800px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  box-shadow: 0px 10px 10px rgb(42, 42, 42);
  border-radius: 20px;
}

/* Buttons */
.btn {
  background-color: #b34949;
  border: 2px solid #422800;
  box-shadow: rgb(66, 40, 0)x 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
}

/* First Row of Buttons */
#firstrw {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Second Row of Buttons */
#secondrw {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Current RegEx */
#currentRegEx {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%; 
}

#regexText {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #b34949;
}

/* Button Effects */
.btn:hover {
  background-color: #fff;
}

.btn:active {
  box-shadow: hwb(36 0% 74%) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn{
    min-width: 120px;
    padding: 0 25px;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  text-align: center;
}

.dropdown > * {
  display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.expressions {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 715px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 50%;
  transform: translate(-50%);
}
  
/* Links inside the dropdown */
.expressions a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
  
/* Change color of dropdown links on hover */
.expressions a:hover {background-color: #ddd;}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* CFG popups */
#cfgoverlay {
  display: none;
  position: absolute;
  width: 300px;
  min-width: 150px;
  overflow: hidden;
  background-color: #422800;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

#cfg1, #cfg2, #noexpCFG {
  display: none;
  position: absolute;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}

/* PDA Pop Up */
#pdaoverlay {
  display: none;
  position: absolute;
  overflow: hidden;
  background-color: #422800;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#pda1, #pda2, #noexpPDA {
  display: none;
  position: absolute;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}

#noexpPDA {
  width: 300px;
  min-width: 160px;
}

/* Canvas */
.canvas-container {
  position: relative;
  display: flex;
}

#expressionCanvas {
  background: rgb(243, 243, 243);
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 0;
}

#canvasAnimation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 1;
}

/* Input */
.inputlines {
  display: flex;
  margin: 0 auto;
  max-width: 730px;
}

/* Line Numbers */
.linenum {
  width: 10px;
  height: 100%;
  border: 1px solid #422800;
  padding: 5px 8px 5px 3px;
  background-color: #b34949;
  font-family: Helvetica;
  font-weight: 600;
  font-size: 14px;
  color: #422800;
  pointer-events: none;
  user-select: none;
  white-space: pre;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

/* Input Textarea */
#input {
  width: 480px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.5;
}

/* Result */
#result p {
  color: #ffd699;
  font-size: 14px;
  margin-top: 3px;
  margin-left: 4px;
  margin-bottom: 5.25px;
  text-decoration-line: overline;
  text-decoration-style: wavy;
  text-decoration-color: #b34949;
  text-align: center;
}

/* Simulate Buttons*/
.simbtn {
  white-space: nowrap;
  width: 150px;
  display: block;
  background-color: #b34949;
  border: 1px solid #422800;
  box-shadow: rgb(66, 40, 0)x 0 0;
  font-family: Helvetica;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 1.75px;
}

/* Evaluate */
#eval {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/* Credits */
#credits {
  width: 100%;
  background: #442807;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

#credits p {
  color: #ffd699;
  font-size: 20px;
  text-align: center;
}

#credits a {
  color: #b34949;
}
